html, body, pre, table.coverage td span {
    margin: 0;
    padding: 0;
}

table.coverage td.line-coverage span {
    color: #888;
}

pre, span {
    font-size: 12pt;
    font-family: Amonospace;
}

table.coverage {
    margin-left: 5px;
}

table.coverage td {
    vertical-align: top;
}

.line-number {
    text-align: right;
}

table.coverage td.line-coverage span.line {
    display: block;
    text-align: right;
    padding: 0 2px 0 3px;
}

.hit {
    background-color: #C8E087;
}

.miss {
    background-color: #E08787;
}

span.booleanMissed {
    font-weight: bold;
    border: 1px solid #666;
}

span.booleanMissed:hover {
    background: red;
}

.code-snippet {
    background-color: #D1F5BA;
}

span.booleanMissed span {
    color: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F5F2AE;
    display: none;
    padding: 3px 3px 3px 3px;
    border: 1px solid black;
    z-index: 6;
}

span.booleanMissed:hover span {
    display: block;
}
