html, body, pre, table.coverage td span {
    margin: 0;
    padding: 0;
}

div.content {
    margin: 0 0 0 20px;
}

table.metric-summary {
    border: 1px solid #666;
    border-collapse: collapse;
    margin: 5px 0 5px 0;
}

table.metric-summary th {
    border: 1px solid #666;
    border-collapse: collapse;
}

table.metric-summary td {
    border: 1px solid #666;
    border-collapse: collapse;
    text-align: right;
}

table.metric-summary td span.ratioPercentage {
    color: #000;
}

table.metric-summary td span.ratio {
    color: #666;
}

table.coverage td.line-coverage span {
    color: #999;
}

pre, span {
    font-size: 12pt;
    font-family: Amonospace;
}

table.coverage {
    /*margin-left: 15px;*/
}

table.coverage td {
    vertical-align: top;
}

table.coverage td.line-number {
    text-align: right;
    padding-right: 5px;
    border-right: 1px solid #666;
}

table.coverage td.line-coverage span.line {
    display: block;
    text-align: right;
    padding: 0 2px 0 24px;
    background: #efefef;
}

table.coverage td.code {
    border-left: 1px solid #666;
}

table.coverage td.line-coverage span.hit {
    background-color: #BEFFBA;
}

table.coverage td.line-coverage span.miss {
    background-color: #FAAFAF;
}

table.coverage td.line-coverage span.booleanMissed {
    font-weight: bold;
    border: 1px solid #999;
}

table.coverage td.line-coverage span.booleanMissed:hover {
    color: #000;
    border-color: #000;
}

table.code-snippet td.snippet {
    color: #033;
    background-color: #D1F5BA;
    text-align: right;
    padding: 0 5px 0 2px;
}

table.code-snippet td.description {
    color: #222;
    text-align: left;
    padding: 0 2px 0 5px;
}

span.booleanMissed span {
    color: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F5F2AE;
    display: none;
    padding: 3px 3px 3px 3px;
    border: 1px solid black;
    z-index: 6;
}

span.booleanMissed:hover span {
    display: block;
}
